body
{
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: url('bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    justify-content: center;
}
h1{
    font-weight: 900;
    color: white;
    font-family: sans-serif;
    text-align: center;
}
#txt{
    
    margin: 0% 27%;
    width: 600px;
    height: 350px;
    border: black;
    border-width: 6px;
    border-radius: 4px;
}


.btn {
    background-color: gray;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
    animation: fadeIn 1s ease-in-out; 
}

.btn:hover {
    background-color: rgb(35, 207, 35); 
    transform: scale(1.1);
}

.btn:active{
    background-color: red; 
    cursor: not-allowed;
}